Flask
Flask-SocketIO
Flask-Cors
Werkzeug
PyJWT
google-generativeai
google-api-python-client
sentence-transformers
faiss-cpu
tqdm
requests
python-docx
PyPDF2
Pillow
reportlab
flasgger
celery
redis
eventlet
