Flask
Flask-SocketIO
Flask-Cors
Flask-Limiter
Werkzeug
PyJWT
python-dotenv
psycopg2-binary
alembic
SQLAlchemy
google-generativeai
google-api-python-client
sentence-transformers
faiss-cpu
tqdm
requests
python-docx
PyPDF2
Pillow
reportlab
flasgger
celery
redis
eventlet
gevent
gevent-websocket
tensorflow
deepface
mediapipe
mesa
opencv-python
